<div class="container-fluid">
	<div class = "statsContainer">
	  <form name="myForm" ng-submit="leagueSubmit()">
	  Name: <input type="text" ng-model="league" required="true" style ="width:300px;"><br>
	  Sport: <select ng-model="allSports" ng-options="sport.name for sport in sports" ng-change="update()" required></select><br>
	  <h2>League Name:  <span class="names">{{ league }}</span> 
	  	<br> Sport:   <span class="names">{{ curSport }}</span></h2>
	  Click on any stat you wish to remove:<br>
		<div ng-repeat="category in categoriesArray" class ='removeButton' ng-click="remove($index)">{{ category }}</div>

	  <br><br>Put back any stats you removed that you'd like to include:<br>

	 	<div ng-repeat="category in removedCategoriesArray" class ='addButton' ng-click="add($index)">{{ category }}</div>
	  		<br><input type="submit" value="Create New League">
	  </form>
	</div>

	<div class="statsContainer">
		<h2>Click on an existing league to fill out team rosters!</h2>
		Search: <input ng-model="searchText"><br>
		<div ng-repeat="league in displayLeagues | orderBy: predicate | filter:searchText">
		<h2><a href="#/leagues/{{ league.name }}"><span class="names">{{ league.name }} - {{ league.sport }}</span></a></h2>
	</div>
</div>
