#messages {
  color: lightgrey
}

.removeButton, .addButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.removeButton:hover {
	background-color:#5cbf2a;
}
.removeButton:active {
	position:relative;
	top:1px;
}

.addButton {
	background-color: #ff0000;
}



