#messages {
  color: lightgrey
}

.removeButton, .addButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.removeButton:hover {
	background-color:#5cbf2a;
}
.removeButton:active {
	position:relative;
	top:1px;
}

.addButton {
	background-color: #ff0000;
}

.statsContainer, .enterStatsContainer {
	width:500px;
	border:2px solid;
	border-radius:25px;
	margin-right:15px;
	padding: 10px;
	float: left;
	background-color:#d3d3d3;
}
.enterStatsContainer{
	width: 750px;
	text-align:center;
}

.names {
	color:#ff0000;
}
.names:hover {
	background-color:#d3d3d3;
}

h2 {
	font-size:20px;
	margin-top: 2px;
}

td {
	padding: 5px;
}

th {
	text-align: center;
}

input {
	margin-bottom: 5px;
}
.basketball, .softball {
width: 50px;
height: 50px;
background-image:url("../../basketball.png");
background-repeat:no-repeat;
}
.softball{
	background-image:url("../../softball.png");	
}
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.demo select {
		border: 0 !important;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		background: #0088cc url(img/select-arrow.png) no-repeat 90% center;
		width: 100px; /*Width of select dropdown to give space for arrow image*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #FFF;
		border-radius: 15px;
		padding: 5px;
		box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	}
	.demo select.balck {
		background-color: #000;
	}
	.demo select.option3 {
		border-radius: 10px 0;
	}


