<div>
<h2>Select Existing League</h2>
Leagues: <select ng-model="allLeagues.selectedOption" ng-options="league.name for league in displayLeagues" ng-change="displayTeams()">
	</select><br>
</div>
	<div ng-show="showTeams">
		<h2>Select Existing Team</h2>
		Teams: <select ng-model="allTeams" ng-options="team.name for team in displayTeams" ng-change="displayPlayers()" 
	 	>
		</select>
	</div>
	<div ng-show="showPlayers">
	<h2>Select Players to input stats for</h2>
		Players: <select ng-model="allPlayers" ng-options="player.name for player in playersArray" ng-change="displayPlayer()" >
		</select>
	</div>
	<br><br>
	<div ng-show="statEnter" class="fx-fade-down fx-easing-bounce fx-speed-1600">
	<form name="myForm" ng-submit="statSubmit()">
		<table class="hovertable">
		<tr>
			<th>Player Name</th>
			<th ng-show='PAshow'>PA</th>
			<th ng-show='ABshow'>ABS</th>
			<th ng-show='Hitsshow'>Hits</th>
			<th ng-show='Walksshow'>Walks</th>
			<th ng-show='singlesshow'>1Bs</th>
			<th ng-show='doublesshow'>2Bs</th>
			<th ng-show='triplesshow'>3Bs</th>
			<th ng-show='HRsshow'>HRs</th>
			<th ng-show='RBIsshow'>RBIs</th>
			<th ng-show='Runsshow'>Runs</th>
		</tr>
		<tr>
			<td>{{ player }}</td>
			<td ng-show='PAshow'><input ng-model='PA' type="text" style="width:50px"></td>
			<td ng-show='ABshow'><input ng-model='ABs' type="text" style="width:50px"></td>
			<td ng-show='Hitsshow'><input ng-model='Hits' type="text" style="width:50px"></td>
			<td ng-show='Walksshow'><input ng-model='Walks' type="text" style="width:50px"></td>
			<td ng-show='singlesshow'><input ng-model='singles' type="text" style="width:50px"></td>
			<td ng-show='doublesshow'><input ng-model='doubles' type="text" style="width:50px"></td>
			<td ng-show='triplesshow'><input ng-model='triples' type="text" style="width:50px"></td>
			<td ng-show='HRsshow'><input ng-model='HRs' type="text" style="width:50px"></td>
			<td ng-show='RBIsshow'><input ng-model='RBIs' type="text" style="width:50px"></td>
			<td ng-show='Runsshow'><input ng-model='Runs' type="text" style="width:50px"></td>

		</tr>
		<tr></tr>
		</table>
		<br><input type="submit" value="Submit Stats">
	</form>
	</div>